* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper-main {
    margin: 0 auto;
    width: 1728px;
    /*   Потом убрать   */
    height: 2000px;
}

.content {
    background: lightblue;
    height: 200px;
    margin-bottom: 5%;
}


/*   COLLAGE START   */
.spices__collage {
    display: grid;
    grid-template-columns: repeat(auto-fit, 691px 406px 406px);
    grid-gap: 20px;

    margin: 0 auto;
    width: 1545px;
    height: 618px;
}

.spices__collage_card {
    position: relative;
    overflow: hidden;
    border-radius: 5%;
}

.spices__collage_card-overlay {
    display: none;
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
    background: #008425;
    opacity: 0.6;
    box-shadow: inset 0px 0px 150px #000000;
}

.spices__collage_card_block {
    display: none;
    position: absolute;
    top: 32%;
    left: 20%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.spices__collage_card_block-title {
    font-weight: 700;
    font-size: 35px;
    color: #FFFFFF;
}

.spices__collage_card_block-subtitle {
    font-weight: 700;
    font-size: 16px;
    color: #FFFFFF;
}

.spices__collage_card_link {
    display: none;
    /*display: flex;*/
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 20px;
    bottom: 20px;
    width: 52px;
    height: 26px;
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    background: #FFFFFF;
}


.spices__collage_card_size_lg {
    position: relative;
    grid-row: 1 / 3;
}

.spices__collage_card_size_sm {
    position: relative;
}

.spices__collage_card-pic {
    object-fit: cover;
    height: 100%;
}

.spices__collage_card_desc-lg {
    position: absolute;
    bottom: 20px;
    left: 20px;
    display: flex;
    column-gap: 10px;
}

.spices__collage_card_desc-sm {
    position: absolute;
    bottom: 10px;
    left: 10px;
    display: flex;
    column-gap: 10px;

}

.spices__collage_card-recipe {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 18px;
    right: 20px;
    width: 99px;
    height: 24px;
    background: #008425;
    color: #FFFFFF;
    border-radius: 30px;
    font-weight: 700;
    font-size: 14px;
}


.spices__collage_card_desc-time {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95px;
    height: 24px;
    background: #F4F1EB;
    border-radius: 30px;

}

.spices__collage_card_desc-food {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 79px;
    height: 24px;
    background: #F4F1EB;
    border-radius: 30px;

}


/*   Behaviour big square START   */
.spices__collage_card:hover .spices__collage_card-pic {
    transform: scale(1.2);
    transition: 1s all;
}

.spices__collage_card_size_lg:hover .spices__collage_card-overlay {
    display: block;
}

.spices__collage_card_size_lg:hover .spices__collage_card_block {
    display: flex;
}

.spices__collage_card_size_lg:hover .spices__collage_card-recipe {
    background: #FFFFFF;
    color: #008425;
}

.spices__collage_card_size_lg:hover .spices__collage_card_link {
    display: flex;
}

.spices__collage_card_link:hover {
    background: #F4B223;
}

.spices__collage_card_link:hover .spices__collage_card_link-arrow {
    transform: rotate(90deg);
    transition: .1s all;
}

/*   Behaviour big square END   */


/*   Behaviour small square START   */
.spices__collage_card_size_sm:hover .spices__collage_card-overlay {
    display: block;
}

.spices__collage_card_size_sm:hover .spices__collage_card_block {
    display: flex;
    top: 25%;
    left: 15%;
}

.spices__collage_card_size_sm:hover .spices__collage_card_block-title {
    display: block;
    width: 282px;
    height: 70px;
    font-weight: 700;
    font-size: 35px;
    margin-bottom: 20px;
    text-align: center;
}

.spices__collage_card_size_sm:hover .spices__collage_card_block-subtitle {
    display: block;
    width: 221px;
    height: 38px;
    font-weight: 700;
    font-size: 16px;
    text-align: center;
}

.spices__collage_card_size_sm:hover .spices__collage_card_link {
    display: flex;
    right: 10px;
    bottom: 10px;
}

.spices__collage_card_link:hover {
    background: #F4B223;
}

.spices__collage_card_link:hover .spices__collage_card_link-arrow {
    transform: rotate(90deg);
    transition: .1s all;
}

/*   Behaviour small square END   */
/*   COLLAGE END   */


