* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.flex-init {
    background: lightgray;
    height: 80px;
}

.box {
    background: steelblue;
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
}

.box-init1 {
    flex: 1 1 250px;
}

.box-init2 {
    flex: 1 1 250px;
}

.box-init3 {
    flex: 1 1 250px;
}
